*{
    margin: 0;
padding: 0;
}

.container{
background-size: cover;
background-image: url("b.jpg");
width: 100%;
height: 100vh;
background-color: azure;
}
.section{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.section-1{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.section-2 .sub-section{
    border: 5px solid rgb(96, 96, 124);
    border-radius: 200px;
    margin-top: 200px;
    margin-left: -600px;
    width: 100px;
    background-color: beige;
    height: 450px;
}
.sub-section .button-BirthdayCard{
    background-color: blanchedalmond;
    border: none;
    border-radius: 5px;
    margin-top: 35px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
cursor: pointer;
color: rgba(243, 243, 113, 0.952);
font-weight: bold;
width: 260px;
padding-left: 5px;

}

.sub-section .name{

background-color: blanchedalmond;
margin-top: 35px;
background-color: transparent;
border-top: none;
border-left: none;
border-right: none;
border-bottom: 2px solid burlywood ;
width: 260px;
padding: 13px;
}

.sub-section .date{
    margin-top: 35px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid burlywood ;
    width: 260px;
padding: 13px;
}